/* Member List */

.header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 63px;
    color: #343A40;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
